
<h4> Name: <%= @course.name %> </h4>
<h4> Description: <%= @course.description %> </h4>


<%= link_to "Back", index_courses_path %>
<%= link_to "Edit", edit_course_path(@course) %>
<p>
<%= button_to "Delete", @course, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</p>
